<div class="jumbotron">
    <h1>Random movie picker</h1>
    <p>Picks a random movie from IMDB's top 250 movies. <br>Great for the movie evening where you just can't choose!</p>
</div>
<div class="row" style="margin: 0 0 3em 0">
    <div class="col-md-4" style="padding-left: 0">
        <button ng-click="newMovie()" class="btn btn-default">New random movie</button>
        <button ng-click="getBadMovie()" class="btn btn-default">Get a bad movie instead</button>              
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img ng-src="{{randomMovie.Poster}}"/>
    </div>
    <div class="col-md-4">
        <h1 style="margin-top: 0">{{ randomMovie.Title }}</h1>
        <h4>{{randomMovie.Year}}</h4>
        <p style="height: 7em">{{randomMovie.Plot}}</p>
        <br/>
        <p><b>Director: </b> {{randomMovie.Director}}</p>
        <p><b>Cast:</b> {{randomMovie.Actors}}</p>

        <br/>
        <p><b>Genre:</b> {{randomMovie.Genre}}</p>  
        <p><b>Rated:</b> {{randomMovie.Rated}}</p>
        <p><b>Length:</b> {{randomMovie.Runtime}}</p>
        <br/>

        <p><b>Metascore: </b>{{randomMovie.Metascore}}</p>
        <p><b>IMDB Rating:</b>{{randomMovie.imdbRating}}</p>
        <br/>
        <a ng-show="isMovieOnNetflix" class="btn btn-default" href="{{netflixLink}}">Watch on Netflix</a>
        <p ng-show="!isMovieOnNetflix">{{notOnNetflix}}</p>
    </div>
</div>